@import "tailwindcss";
@import "tailwind-animations";

/* custom animations */

/* Zoom animation */

@theme {
  --animate-zoom: zoom 0.6s ease-in-out 1;

  @keyframes zoom {
    0%,
    100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
  }
}

html {
  scrollbar-width: thin;
  scrollbar-color: #3467b3b4 #0f172a;
}
