@import "tailwindcss";
@import "tailwind-animations";

/* Scrollbar color */

html {
  scrollbar-width: thin;
  scrollbar-color: #3467b3b4 #0f172a;
}

/* custom animations */

/* Zoom animation */

@theme {
  --animate-zoom: zoom 0.6s ease-in-out 1;

  @keyframes zoom {
    0%,
    100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
  }
}

/*Navbar and footer animation*/
@theme {
  --animate-gradient: gradient 15s ease-in-out infinite;

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }

    25% {
      background-position: 100% 0%;
    }

    50% {
      background-position: 100% 100%;
    }

    75% {
      background-position: 0% 100%;
    }

    100% {
      background-position: 0% 50%;
    }
  }
}

/* Fade out from black */

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.animate-fade-out {
  animation: fade-out 4s ease forwards;
}